.circle {
    border-radius: 50%;
    width: 9vw ;
    height: 11.16vw;
    padding:0 !important;

}
.circle .font-tarsus{
    font-size: 1.5em;
    position:absolute;
    top:3.5vw; left:2.5vw;
    /*transform: translate(-5vw, -5vw);*/
    margin:0;
    color: white;
    margin-left: 5px;
}

.content{
    padding-top: 50%;
    padding-bottom: 50%;
}