.circle {
    height: 13em !important;
    width: 13em !important;
    border-radius: 6.5em;
    text-align: center;
    color: white;
    border: none;
    padding: 20px;
    text-decoration: none;
    font-size: 16px;

}
.circle .font-tarsus{
    font-size: 1.5em;
    position:absolute;
    /*top:3.75vw; left:2.15vw;*/
    /*transform: translate(-5vw, -5vw);*/
    margin:0;
    color: white;
    margin-left: 5px;
}

.side-info{
    padding-left: 20px;
}

@media only screen and (max-width: 768px) {
    .circle .font-tarsus{
        font-size: 1.5em;
        position:absolute;
        top:9vw; left:6vw;
        /*transform: translate(-5vw, -5vw);*/
        margin:0;
        color: white;
        margin-left: 5px;
    }

    .side-info{
        padding-left: 0px;
    }
}