.App {
    padding-left: 15%;
    padding-right: 15%;
    margin: 0 auto;
    height: 100%;
    min-height: 100vh;
}

@media only screen and (max-width: 768px) {
    .App{
        padding-left: 5%;
        padding-right: 5%;
    }
}
