.App {
  padding-left: 20%;
  padding-right: 20%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-intro {
  font-size: large;
}

.font-tarsus{
  font-family: 'Tarsus';
}
 .menu{
   margin-left: 10%;
 }

 .nav-link:hover{
  color:#61D0D4;
   cursor: grab;
 }

 .active-link{
   color:#61D0D4;
 }

 .navbar{
     padding:0 !important;
 }