.Footer {
    width: 100% !important;
    padding: 20px;
    bottom: 5% !important;
    left: 0;
    position: relative;
    background-color: #E83556;
    height: inherit;
    padding-right: 15%;
    padding-left: 15%;
}

.section{
    padding-right:auto;
    padding-left: auto;
}

.icons{
     color: #61d0d4 !important;
 }

.content{
    color: white !important;
    text-decoration: none !important;
}

.row{
    margin-left: 0 !important;
}

.fa-facebook-official{
    color: #3b5998;
}

.fa-linkedin-square{
    color: #337ab7;
}

.fa-github-square{
    color: #303030;
    margin-left: 5px;
    margin-right: 5px;
}
.fa{
    font-size: 2em;
    background-color: white;
}

a{
    color: white;
}

@media only screen and (max-width: 768px){
    .Footer{
        padding-left: 2%;
        padding-right: 2%;
    }
    .section{
        margin-bottom: 15px;
    }
}