body {
  margin: 0;
  height: 100%;
  background-color: #eae5e5;
  padding-bottom: 20%;
  /*position: relative;*/
}
html{
  height: 100%;
  margin: 0;
}
#root{
  position: relative;
  min-height: 100vh;
}

